p {
  color: red;
  letter-spacing: 2px;
  font-size: 15px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
  border-radius: 10px;
}

.white1 {
  color: white;
}

span {
  letter-spacing: 2px;
  color: rgb(118, 197, 0);
}

b {
  color: dodgerblue;
}

.first,.second {
  background-color: white;
  border-radius: 10px;
  line-height: 2;
}

.text_image_and_result1 {
  margin-top: 15px;
  background-color: rgb(155, 153, 153);
  border-radius: 10px;
  box-shadow: 1px 1px 25px gray;
  width: 99%;
  margin-bottom: 15px;
}

h4 {
  color: white;
  font-weight: bold;

}

.bottom {
  color: dodgerblue;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: 'Roboto Slab', Serif;
  background: white;
}